<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1 class="Quora">Quora</h1>

    <% for(post of posts){ %>
        <div class="posts">
            <h3 class="user">@ <%= post.username %></h3>
            <h5 class="content"> <%= post.content %></h5>
            <hr>
            <button><a class="addbtn" href="http://localhost:8080/posts/<%= post.id %>">See Details</a></button>
            <button><a class="addbtn" href="http://localhost:8080/posts/<%= post.id %>/edit">Edit</a></button><br><br>
            <form action="/posts/<%= post.id%>?_method=DELETE" method="post">
                <button class="addbtn">Delete</button>
            </form>
        </div>
   <% } %>
        <hr>
   <button><a class="addbtn" href="http://localhost:8080/posts/new">Add Post</a></button>
</body>
</html>